
Temp/FSTimeGet-e1cb48a261dc09e4d89658fcbb9b9a62
Temp/UnityLockfile
Temp/FSTimeGet-a9e2784db943d094da85e4ae7b740fbb
Temp/FSTimeGet-313ab9fbc59b32f42b015948b1a91b65
Library/Search/transactions.db
Library/PackageCache/com.unity.collections@1.4.0/Unity.Collections.LowLevel.ILSupport/source~/Unity.Collections.LowLevel.ILSupport.CodeGen/Unity.Collections.LowLevel.ILSupport.CodeGen.asmdef.meta
Library/Search/transactions.db
Library/PackageCache/com.unity.burst@1.8.12/.Runtime/libburst-llvm-16.dylib
Library/EditorInstance.json
Library/Search/transactions.db
Library/ArtifactDB
Library/Search/transactions.db
Temp/__Backupscenes/0.backup
Library/StateCache/MainStageHierarchy/53/537c628b9054c9cc93178401b479b578.json
/Temp/__Backupscenes
